body {
  background-image: url("../../public/assets/a.png");
}

nav {
  background-color: #ff963b;
}
.nav-neptune {
  background-color: #3b53e0;
}
.nav-jupiter {
  background-color: #b47448;
}
.nav-venus {
  background-color: #d69b45;
}

section {
  padding-top: 2rem;
}

.card {
  background-color: #3b53e0;
  border-radius: 15px;
}
.card-neptune {
  background-color: #3b53e0;
}
.card-jupiter {
  background-color: #b47448;
}
.card-venus {
  background-color: #d69b45;
}
