body {
  /* background-color: rgb(75, 73, 73); */
  background-image: url("../../public/assets/a.png");
}

nav {
  background-color: #ff963b;
}

section {
  padding-top: 2rem;
}

.card {
  background-color: #4f12c2;
  border-radius: 15px;
}
